html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    font: 30px "Century Gothic", Futura, sans-serif;
    display: table-cell;
    color: white;
    vertical-align: middle;
    background-color: rgb(53, 52, 52);
}

header{
    font: 70px "Century Gothic", Futura, sans-serif;
    vertical-align: middle;
    background-color: rgb(53, 52, 52);
}

textarea {
    font: 15px "Century Gothic", Futura, sans-serif;
    text-align: left;
    resize: none;
}

.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: "Century Gothic";
  font-size: 20px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button,
.button {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}